body {
  padding: 20px;
  font: 14px/26px sans-serif; }

h1,
h2,
h3,
h4 {
  font-weight: lighter;
  color: #666; }

b {
  color: #666; }

.fotorama__wrap {
  margin: 0 auto; }

.fotorama__caption__wrap {
  margin: 0 auto; }

.fotorama__caption {
  text-align: center; }

body {
  background-image: url(../images/back.png);
  background-position: repeat; }
