body {
  padding: 20px;
  padding-top: 0px;
  font: 14px/26px sans-serif; }

h1,
h2,
h3,
h4 {
  font-weight: lighter;
  color: #666; }

b {
  color: #666; }

.fotorama__wrap {
  margin: 0 auto; }

.fotorama__caption__wrap {
  margin: 0 auto; }

.fotorama__caption {
  text-align: center; }

body {
  background-image: url(../images/back.png);
  background-position: repeat; }

.clear {
  clear: both; }

.first {
  padding-top: 150px;
  height: 50px;
  text-align: center; }
  .first h1 {
    text-align: center; }
  .first .logo {
    cursor: pointer; }
  .first .upup {
    margin-top: -100px; }

.second {
  display: none; }

.blogo {
  background-image: url(../images/logo.png);
  background-size: cover;
  width: 150px;
  height: 35px;
  float: right; }

.share {
  float: left; }

.snbt {
  float: left;
  margin-left: 20px; }
