- photos = [ \
  ["beginning.jpg", "Ты помнишь, как все начиналось?"],
  ["hat.jpg", "Человек с Ветеранов за работой"],
  ["homework.jpg", "Работа на «дому»"],
  ["webready0.jpg", "Первые успехи"],
  ["webready.jpg", "Не отрываясь от работы"],
  ["work-here.jpg", "Правда жизни"],
  ["mors.jpg", "Заяц любит морс"],
  ["gdd.jpg", "МОНОКУЛЬТУРА"],
  ["newtech.jpg", "Илья предлагает новые технологии"],
  ["ipad.jpg", "С новым iPad Air могут работать даже слепые"],
  ["egg.jpg", "Илья и яйцо"],
  ["dm.jpg",""],
  ["chet.jpg", "Четкие пацаны «ResumUP»"],
  ["banks.jpg", "Сиесты на берегу реки"],
  ["team.jpg", "Впечатления от первых месяцев в ResumUP"],
  ["stats.jpg", "«Статный» Заяц"],
  ["oper.jpg", "Подработка оператором"],
  ["taz.jpg", "Не даем застояться малому тазу"],
  ["toys.jpg", "Любимые игрушки"],
  ["idea.jpg", "А ты точно продюс^W CEO?"],
  ["watch.jpg", "I'm here team lead, bitches"],
  ["design.jpg", "Илья принимает дизайн"],
  ["boroda.jpg", "Проект codename «Борода»"],
  ["scrum.jpg", "Пять минут безумия от Жени"],
  ["bars.jpg", "Работа в баре — наше все, и не только работа"],
  ["chop.jpg", "Брадобрей за счет конторы"],
  ["holland.jpg", "Miami Beach"],
  ["ks.jpg", ""],
  ["poison.jpg", "Время песен и плясок"],
  ["poison2.jpg", "Безудержное веселье"],
  ["poison3.jpg", "Лирика"],
  ["poison4.jpg", "ТААААНЦЫ"],
  ["toler.jpg", "«Т» — Толерантность"],
  ["beach.jpg", "Илья сломался"],
  ["gotovim.jpg", "Кто-то готовит..."],
  ["gotovim2.jpg", "...А кто-то жрет."],
  ["cart.jpg", "Спорт — наше все"],
  ["offises.jpg", "Рок-звезда в офисе"],
  ["coworks.jpg", "И с коллегами"],
  ["dev.jpg", ""],
  ["zayats_notebook.jpg", "Когда Илья был потолще"],
  ["shaman.jpg", "Шаман, однако"],
  ["babochka.jpg", "Бабочка-День"],
  ["nya.jpg", "Бесконечная Доброта Сострадание и Милосердие"],
  ["carrot.jpg", "Морковка"],
  ["bye_bye_zayats.jpg", "Женя прощается с холостым Ильей..."],
  ["zayts_eugene.jpg", "Илья облучает Женю"],
  ["capre.jpg", "Поддерживаем твой девиз"],
  ["ceo.jpg", ""],
  ["vynos.jpg", "НА ВЫНОС!"],
  ["boring.jpg", "Уже скучаем, жопа ты"],
  ["our-team.jpg", "Never give up!"]]
html lang="en"

  head
    meta charset="utf-8"
    title Viva la Zayats @ ResumUP

    meta name="description"        content="The longest journey begins with a single step"
    meta name="title"              content="Илья Заяц @ ResumUP"
    meta property="og:title"       content="Илья Заяц @ ResumUP"
    meta property="og:image"       content="http://zayats.resumup.com/images/boring.jpg"
    meta property="og:description" content="The longest journey begins with a single step"
    meta property="fb:app_id"      content="229741933727379"
    meta property="og:site_name"   content="ResumUP"
    meta property="og:type"        content="website"


    script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
    link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"
    script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"

    link rel="stylesheet" href="stylesheets/styles.css" type="text/css" media='all'
    script type='text/javascript' src='javascripts/scripts.js'
  body
    .content
      .first
        h1 Zayats @ ResumUP
        .logo
          img src="images/logoup.svg"
        .clear
        h3.upup
          | Трогни, чтоб начать
      .second
        .fotorama data-width="100%" data-ratio="800/600" data-minwidth="400" data-maxwidth="1000" data-minheight="300" data-maxheight="90%" data-autoplay="7000" data-keyboard="true" data-transition="crossfade"
          - photos.each do |p|
            img src="images/#{p[0]}" data-caption="#{p[1]}"
        .footer
          .share
            .snbt
              .fb-like data-href="http://zayats.resumup.com/" data-layout="button" data-action="like" data-show-faces="true" data-share="false"
            .snbt
              a href="https://twitter.com/share" class="twitter-share-button" data-url="http://zayats.resumup.com/" data-text="Илья @sombody32 Заяц @ @ResumUP" data-via="ResumUP"
            .clear
          .blogo
            a href='http://resumup.com'
    #fb-root
    javascript:
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=361384674013815&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
